
/* main */
html {
  height: 100%;
}

body {
  /*System fonts*/
  font-family: monospace;
  background: linear-gradient(to left bottom, lightblue, rgb(186, 255, 186), rgb(36, 189, 163));
  color: #202020;
  box-sizing: border-box;
  margin: 0; 
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  background: linear-gradient(to right top, lightblue, rgb(186, 255, 186), rgb(36, 189, 163));
  padding: 20px;
  box-shadow: 0 6px 10px rgba(0,0,0,.3);
  border-radius: 15px;
  width: 85%;
  text-align: center;
  color: darkblue;
  font-weight: 600;
}

.card-text {
  font-size: 1.3em;
}


/*Heading*/
h1 {
  margin: 0;
  font-size: 2.5em;
}

/*Icons*/
.fas {
  margin-right: 20px;
}

/* links, buttons & hover */
a {
  color: darkblue;
  text-decoration: none;

  transition: color 0.2s ease-in-out;
}
/* link hover */
a:hover, 
a:focus, 
a:active {
  color: rgb(79, 154, 79);
}
/* buttons */
button,
.back-button {
  display: inline-block;
  padding: 5px 15px;
  margin: 0.5em 0.5em 0 0.5em;
  border-radius: 4px;
  border-style: none;
  background-color: rgb(2, 0, 128);
  color: white;
  cursor: pointer;
  font-size: 1em;
  text-align:center;
  transition: background-color 0.2s ease-in-out;
}
/* button hover  */
.back-button:hover, 
.back-button:focus, 
.back-button:active,
button:hover, 
button:focus, 
button:active{
  background-color: rgba(38, 141, 38, 0.737);
  color: white;
}

.back-button {
  margin-left: 0;
}

/* hidden */
.hidden {
  display: none;
}


nav {
  font-size: 1.3em;
  padding: 10px;
  border-bottom: 1px solid green;
}
.navbar-text {
  text-align: end;
  justify-content: center;
  font-size: 1.4em;
  font-weight: 600;
  padding-right: .5em;
}


main {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  height: 75%;
  box-sizing: border-box;
  padding: 20px 0;
}


#start {
  text-align: center;
}

/* questions */
#question {
  font-size: 1.4em;
}

#timer, 
.choice-status {
  text-align: center;
}

#timer {
  border-bottom: 1px solid #CECECE;
  padding-bottom: 15px;

  font-size: 1.35em;
  font-weight: bold;
}

#time-remaining{
  color: darkblue;
}

#choices {
  list-style: none;
  padding-left: 0;
}

#choices button {
  margin-left: 0;
}

.choice-status {
  font-size: 1.35em;
  font-weight: bold;
}

#correct {
 color:  darkblue;
}

#wrong {
  color: #E81648;
}

/*green line before choice status*/
#quiz-questions, 
#end {
  border-bottom: 1px solid green;
  padding-bottom: 15px;
}

/*****End*****/
#score-text {
  font-size: 1.2em;
}

#score {
  font-weight: bold;
  color: darkblue;
}

/*form*/
#submit-score {
  margin-bottom: 10px;
}

#submit-score label {
  display: block;
}

#initials {
  padding: 3px;
  font-size: 1em;

  border-radius: 4px;
  box-sizing: border-box;
}

.error {
  border: 1.5px solid red;
}

#error-message {
  color: red;
  margin-top: 5px;
}

/* Highscores */
table {
  border-spacing: 0 0.5em;
}

tr:nth-child(even) {
  background-color: #EBEBEB;
}

td, th {
  padding: 10px;
}

th {
  border-bottom: 1px solid #CECECE;
}

td {
  text-align: center;
}

th:first-child,
td:first-child {
  text-align: left;
}

th:last-child,
td:last-child  {
  text-align: right;
}

#highscore-buttons {
  margin-bottom: 50px;
}

/* media queries */
@media only screen and (min-width: 992px) {
  main {
    width: 70%;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    width: 80%;
  }
}